/*--------------------------------------- CSS RESET----------------------------------------------------- */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/*------------------------------------------------------------------------ --- */

:root {
  --color_0: 255, 255, 255; /* black */
  --color_1: 0, 0, 0; /* white */
  --color_2: 255, 228, 196; /* background */
  --color_3: 143, 188, 143; /* text color */
  --color_4: antiquewhite; /* Items background color */
  --color_5: 255, 203, 5;
  --color_6: 114, 114, 114;
  --color_7: rgb(233, 187, 113); /* item detail background color */
  --color_8: rgb(243, 233, 198); /* "Add to cart" hover color */
  --fontFamily: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  /* max-width: 1300px; */
  background-color: rgb(var(--color_2));
  background-image: url(images/logos/backgroundMain.PNG);

  color: var(--color_3);
  /* padding-left: 200px;
  padding-right: 200px; */
  /* margin: 50px; */
  font-family: var(--fontFamily);
}

.headContainer {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  justify-content: center;
  column-gap: 5%;
  row-gap: 2%;
  padding-top: 3%;
  padding-bottom: 7%;
  grid-template-columns: repeat(auto-fill, minmax(min-content, max-content));
  overflow: auto;
}

.navImage {
  width: 15vw;
}

.navImag:hover {
  transform: scale(1.05);
}

#patakPart {
  width: 200px;
  rotate: 0deg;
  transition: 1s;
  cursor: pointer;
}
#storiesNav {
  width: 200px;
  rotate: 0deg;
  transition: 1s;
}

#illustrationNav {
  width: 200px;
  rotate: 0deg;
  transition: 1s;
  vertical-align: middle;
}

#patakPart:hover {
  rotate: 45deg;
}

@media screen and (max-width: 950px) {
  .headContainer {
    grid-template-columns: auto;
  }

  .navImage {
    width: 1px;
    visibility: hidden;
  }
}

.logoClass {
  /* display: block;*/
  /* padding: 50px; */
  width: 300px;
  justify-content: center;
}

.logo {
  width: 400px;
  padding-left: 50px;
  position: relative;
}

/* -----------------Product items block setting --------------------*/
.listOfitems {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  column-gap: 5%;

  padding-top: 3%;
  padding-bottom: 7%;
  /* grid-template-columns: repeat(auto-fill, minmax(min-content, max-content)); */
  overflow: auto;
}

.product {
  width: 330px;
  width: minmax(200px, 330px);
  padding: 15px;
  justify-content: center;
  /* margin: 15px; */
  cursor: grab;
  transition: transform 0.2s; /* Animation */
}
.product:hover {
  transform: scale(1.05);
}

.image {
  justify-content: center;
  width: 330px;
  /* margin: 3px;
  padding: 3px; */

  /* border: 3px solid;
  border-style: solid;
  border-color: black;
  border-radius: 7px;
  box-shadow: 2px 2px black; */

  transition: ease 1s;
}

.itemName {
  text-align: center;
  font-size: 18px;

  letter-spacing: 1px;
  line-height: 30px;
  color: rgb(143, 188, 143);
  background-color: var(--color_4);
}

.itemPrice {
  text-align: center;
  font-size: 18px;

  color: rgb(97, 126, 97);
  line-height: 15px;
  background-color: var(--color_4);
  padding-bottom: 10px;
}

@media screen and (max-width: 950px) {
  .listOfitems {
    grid-template-columns: auto;
  }
  .image {
    width: 270px;
  }
  .product {
    width: 270px;
  }
}
@media screen and (min-width: 1100px) {
  .listOfitems {
    column-gap: 15%;
  }
}

/* Footer settings */

#footLogo {
  width: 150px;
}
#socialMediaLink {
  width: 10vw;
  cursor: grab;
}

#footContact {
  text-decoration: solid;
  width: 100px;
  font-size: 30px;
  color: rgb(224, 133, 13);
}

.footContainer {
  justify-content: center;
  overflow: auto;

  display: grid;
  grid-template-columns: auto auto auto;

  justify-items: center;
  /* column-gap: 10%;
  row-gap: 3%;
  padding-top: 10%; */
  align-items: center;
  grid-auto-flow: column;
  gap: 45px;

  /* grid-template-columns: repeat(auto-fill, minmax(min-content, max-content));
  overflow: auto;
   */
}

.footClass {
  /* vertical-align: middle;
  justify-content: center;

  width: minmax(auto, auto, auto);*/
}

#footContact,
#footLogo,
#socialMediaLink {
  max-width: 200px; /* A tartalom méretéhez igazodva */
  min-width: 67px;
}

/*---------------------------------------------------- */

/*------------------------ Style of main.html-------------- */

.mainImage {
  width: 30vw;

  line-height: 100px;
  display: inline-block;
  vertical-align: middle;
  cursor: grab;
  transition: transform 0.2s; /* Animation */
  margin: 55px;
}

.mainImage:hover {
  transform: scale(1.2);
  rotate: -15deg;
}

.navImage:hover {
  transform: scale(1.2);
  rotate: -15deg;
}

.mainheadContainer {
  display: grid;
  justify-content: center;
}
.mainNavigation {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  /* column-gap: 5%;
  row-gap: 2%; */

  padding-top: 3%;
  padding-bottom: 7%;
  grid-template-columns: repeat(auto-fill, minmax(min-content, max-content));
  overflow: auto;
}

@media screen and (max-width: 950px) {
  .mainNavigation {
    grid-template-columns: auto;
    /* grid-template-rows: -50px; */
    margin: 5px;
  }
  .mainImage {
    width: 50vw;
  }
  .mainBox {
    margin: 50px;
  }
  #footLogo {
    width: 100px;
  }
  #aboutMainImage {
    width: 150px;
  }
}

/*---------------------------------------------------- */

/*------------------------ Style of about.html-------------- */

#aboutMainImage {
  width: 35vw;
}

.aboutContainer {
  display: grid;
  grid-template-columns: auto auto;
  margin: 10px;
  font-size: 23px;
  text-wrap: pretty;
  grid-template-columns: repeat(auto-fill, minmax(min-content, max-content));
  overflow: auto;
  justify-items: end;
  align-items: center;
}

.aboutText {
  max-width: 300px;
  text-align: justify;
  line-height: 35px;
  word-spacing: 6px;
}

.aboutImage {
  /* margin-left: 150px;
  margin-bottom: 200px;
  margin-right: 50px; */
  margin: 35px;
  align-content: center;
  vertical-align: middle;
  rotate: 10deg;
}

h1 {
  font-style: oblique;
}

@media screen and (max-width: 950px) {
  #aboutMainImage {
    width: 250px;
    justify-items: center;
  }
  .aboutText {
    max-width: 400px;
    text-align: justify;
    line-height: 25px;
    word-spacing: 6px;
  }

  .aboutContainer {
    grid-template-columns: auto;
    margin: 10px;
    padding-bottom: 45px;
    font-size: 19px;
    text-wrap: pretty;
    grid-template-columns: repeat(auto-fill, minmax(min-content, max-content));
    overflow: auto;
  }
}

@media screen and (min-width: 960px) {
  #aboutMainImage {
    width: 300px;
  }
}
/*---------------------------------------------------- */

/*------------------------ Style of product.html-------------- */
#product-Container {
  display: grid;
  grid-template-columns: auto auto;
}

.productBackground {
  background-color: var(--color_7);
  justify-content: space-evenly;
  margin-bottom: 25px;
}

.productDetailed {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  justify-items: center;
}

.smallImages {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  margin: 15px;
}
.productElement {
  background-color: black;
  justify-items: right;
}

/* FOR GRID TEMPLATE AREA */
#productImageViewer0 {
  width: 400px;
  border-style: solid;
  border-color: antiquewhite;
}

#productImageViewer1,
#productImageViewer2,
#productImageViewer3 {
  width: 50px;
  cursor: pointer;
}

.productElement1:hover,
.productElement2:hover,
.productElement3:hover {
  filter: opacity(-15);
  transition: ease 0.5s;
}

.productText {
  /* background-color: white; */
  margin: 20px;
  width: 35vw;
}

#productName {
  font-size: 45px;
  margin-bottom: 45px;
}

#productPrice {
  font-size: 40px;
  margin-bottom: 45px;
}

#productDescription {
  margin-bottom: 45px;
}

h3,
#addToCart {
  font-size: 35px;
  justify-items: center;
  border-style: solid;
  border-width: 5px;
  border-radius: 10px;
  text-align: center;
  border-color: black;
  cursor: pointer;
}

#addToCart:hover {
  background-color: var(--color_8);
}

@media screen and (max-width: 960px) {
  #product-Container {
    grid-template-columns: auto;
    justify-content: center;
  }

  .productText {
    display: flex;
    /* grid-template-columns: 30vw 30vw; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
